/*linpar as formatação padrao da navegador*/
/* o * limpa todos osdads de qual quer navegador*/
*{
margin: 0;
padding:0;
}

body{
font-size: 16px;
font-family: "trebucher MS", Halvetica, sans-serif; /*fonte de letras */
background: #f3f3f3;/*cor de fundo*/
}
#navegacao {  /*aqui tem uma borda e o modelo de botao*/
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
}

#area {/*sentralização da area do blog*/
	width: 720px;
	margin: 0 auto;
	/*border:1px solid red ;*/   /*foi colocado so para visualizar para centralizar*/
}

#logo {/*direita*/
float: left;
}

#menu {/*esquerda */
float: right;
width:450px; 
/*border:1px solid;*/ /*foi colocado so para visualizar para centralizar*/
padding: 10px 0;
}
/*****************************************************************/
      /******************formatação do menu****************/
      /*para remover todos testes decorado*/
      a {
           text-decoration: none;
           padding: 5px 10px;  /*para dar os espassamentos */
      }
/*links nao visitados */
a:link {
 color: #838383;
}
/*links visitados*/
a:visited {
 color: #838383;
}

/*links hover*/
a:hover {
	color: #fff;
   background:#b9c941;
}

/*links active*/

a:active {
	color: #535353;
}

/*Classes*/
.verde {
	color:#b9c941;

}

#area-principal {

	width: 720px;
	margin: 55px auto 10px auto;  /*era 10 mai a soma navegação que é 45 mais 10 fica 55 para deixar fiquiso*/
	/*border: 1px solid red;*/ /*esse comando é so para visualizar a magem*/
}

h2{

	color:#b9c941;

}

#postagem {
	background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.data-postagem {

   font-size: 14px;	
   border-bottom: 1px solid #f4f4f4;
   display: block;
   padding-bottom: 10px;
   margin-bottom: 10px;
}

.img-postagem{
	float: left;
	margin: 0 10px 5px 0 ;

}

.postado {

 border-left: 5px solid #d8d8d8 ;
 padding-left: 5px;
 display: block;
 margin-top:10px;
}
 #criar-conta {
 padding: 10px;
 float: right;
 width: 500px;
 color: #b9c941;
 
 }

 .centralizado {
 	width: 50px;
 }